/* general styles */
html, body {
  height: 100%;
  width: 100%;
  color: #306D9F;
}

a {
  color: #000000;
}

a:hover {
  color: #333;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-bottomed text */
.text-vbottom {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;

}

.text-vbottom {
  font-size: 4em;
  margin: 0;
  padding: 0;
}

.welcome-banner {
  text-align: left;
  background-color:  rgba(255,255,255,0.6);
  padding: 10px;
}

/* additional sections */
#welcome {
  background: url(../images/scrabble.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: 100% auto;
  -moz-background-size:  100% auto;
  -o-background-size:  100% auto;
  background-size:  100% auto;
}

#about {
}

#bigday {
  background-color: #306d9f;
  color: #ffffff;
}
#bigday .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#more_info {
  background: url(../images/the_barn.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#more_info .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}