/* general styles */
html, body {
  height: 100%;
  width: 100%;
  color: #306D9F;
}

a {
  color: #CE6DF5;
}

a:hover {
  color: #AE4DD5;
}
/* padded section */
.pad-section {
  padding: 25px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-bottomed text */
.text-vbottom {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;

}

.text-vbottom {
  font-size: 5px;
  margin: 0;
  padding: 0;
}

/* additional sections */
#welcome {

  background: url(../images/background.png) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  left: 0%;
  top: 0%;
}

#bigday {
  background-color: #306d9f;
  color: #ffffff;
}

#bigday .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#bigday a{
  color: #D3A2E7;
}

#more_info {
  background: url(../images/the_barn.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#more_info .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}